<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Creative Warehouse</title>
<link rel="icon" type="image/x-icon" href="../assets/img/logo/favicon.png">
<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/aea945e168.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../assets/css/flaticon-exdos.css">
<link rel="stylesheet" href="../assets/css/magnific-popup.css">
<link rel="stylesheet" href="../assets/css/swiper-bundle.min.css">
<link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

<!-- scroll to top  -->
<button id="back-to-top"><i class="far fa-arrow-up"></i></button>

<!-- header start  -->
<header>
  <div id="tp-header-sticky" class="tp-header-area tp-header-space tp-header-space-5 tp-transparent-header pl-100 pr-100 tp-sticky-white">
    <div class="container-fluid p-0">
      <div class="row gx-0 align-items-center">
        <div class="col-lg-2 col-6">
          <div class="tp-logo"> <a href="../index.html"><img src="../assets/img/creative-warehouse-logo.png" alt=""></a> </div>
        </div>
        <div class="col-lg-7 col-6 d-none d-lg-block">
          <div class="tp-header-box d-flex justify-content-end">
            <div class="tp-main-menu tp-main-menu-black d-none d-xl-block">
              <nav class="tp-mobile-menu-active">
                <ul>
                  <li><a href="../grow-plans.html">Growth Strategies</a></li>
                  <li><a href="../websites.html">Get A New Website</a></li>
                  <li><a href="../about.html">Who We Are</a></li>
                  <li><a href="../careers.html">Careers</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6 d-flex justify-content-end"><div class="tp-hero-btn wow img-custom-anim-top d-none d-md-block" data-wow-duration=".5s" data-wow-delay="0.3s"> <a href="#contact" class="tp-btn tp-btn-lg" > <span class="tp-btn-wrap"> <span class="tp-btn-y-1">Start Growing</span> <span class="tp-btn-y-2">Start Growing</span> </span> <i></i> </a> </div>
          <div class="tp-header-bar d-block d-lg-none">
            <button class="tp-offcanvas-toogle"><i class="fa-regular fa-bars"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- tp-offcanvas  -->
<div class="tp-offcanvas tp-blue-lt-gradient">
  <div class="tp-offcanvas-wrapper">
    <div class="tp-offcanvas-header d-flex justify-content-between align-items-center mb-90">
      <div class="tp-offcanvas-logo"> <a href="../index.html"><img src="../assets/img/favicon.png" alt="Creative Warehouse"></a> </div>
      <div class="tp-offcanvas-close">
        <button class="tp-offcanvas-close-toggle"><i class="fal fa-times"></i></button>
      </div>
    </div>
    <div class="tp-offcanvas-menu d-xl-none mb-50">
      <nav></nav>
      <div class="tp-hero-btn wow img-custom-anim-top mt-20">  <a href="#contact" class="tp-btn tp-btn-lg" > <span class="tp-btn-wrap"> <span class="tp-btn-y-1">Grow My Website</span> <span class="tp-btn-y-2">Grow My Website</span> </span> <i></i> </a>  </div>
    </div>
    <div class="tp-offcanvas-info mb-50">
      <h3 class="tp-offcanvas-sm-title">Contact Us</h3>
      <span><strong>Call: </strong><a href="tel:1(330)8522555">(330) 852-2555</a></span> <span><strong>Email: </strong><a href="mailto:hello@creativewhs.com">hello@creativewhs.com</a></span> <span><strong>Visit:</strong> <a href="https://maps.app.goo.gl/QvbJMu47XuEmLCW88" target="_blank">235 Factory St NE, <br>
      Sugarcreek, OH 44681</a></span> </div>
  </div>
</div>
<div class="tp-offcanvas-overlay"></div>
<!-- tp-offcanvas  -->
<div id="smooth-wrapper">
  <div id="smooth-content">
    <main>
      <section class="tp-contact-area pt-120 pb-90 tp-cream-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-7 offset-md-1">
              <div class="tp-section-title-wrapper mb-50">
                <h2 class="tp-section-title mb-20">Who We Are</h2>
                <h4>We <em>Really</em> Care About Your Business—and We Want to See You Grow</h4>
                <p>At Creative Warehouse, we exist to amplify the work of good businesses. We believe that when your message is clear, your design connects, and your website performs, you create more jobs, serve more people, and contribute to human flourishing.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"> <img class="img-fluid" src="../assets/img/about-farm.jpg" alt="" title="" /> </div>
            <div class="col-md-7"> <img class="img-fluid" src="../assets/img/about-millersburg-ohio.jpg" alt="" title="" /> </div>
          </div>
        </div>
      </section>
      <section class="pt-110">
        <div class="container">
          <div class="row pb-30">
            <div class="col-md-3 offset-md-1">
              <h2>Our Mission</h2>
            </div>
            <div class="col-md-7">
              <h5>We build websites that combine thoughtful design, clear messaging, and smart strategy—so you can win more, grow faster, and focus on the work you love. </h5>
              <p>We started Creative Warehouse because we were tired of seeing small businesses get burned by agencies that overpromise, underdeliver, or make things more complicated than they need to be. We’re here to change that. We build websites that work for you, not against you. </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12"> <img class="img-fluid" src="../assets/img/about-team.jpg" alt="" title="" /> </div>
          </div>
        </div>
      </section>
      <section class="tp-services-area tp-services-bg-area  pt-130 pb-130 mt-100" >
        <div class="container">
          <div class="row">
            <div class="col-xl-4">
              <div class="tp-section-title-wrapper mb-50"> <span class="tp-section-subtitle mb-10"><i class="sub-dot-color"></i> Our Core Values:</span>
                <h2 class="tp-section-title tp-upper tp_title_anim mb-20">The Rules We Live By:</h2>
                <p>We’re guided by five core values that shape everything we do:</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="tpservices tpservices-2 tpservices-4-spacing border-0 tp-white-bg br-24 mb-30 wow tpFadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                <div class="tpservices__icon mr-20 mb-25 p-relative">  <i class="fa fa-3x fa-fan"></i></div>
                <div class="tpservices__text ">
                  <h3 class="tpservices__title mb-15"><a href="../services-details.html">We’re builders, not bystanders.</a></h3>
                  <p>We take initiative, solve problems, and make things happen.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="tpservices tpservices-2 tpservices-4-spacing border-0 tp-white-bg br-24 mb-30 wow tpFadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="tpservices__icon mr-20 mb-25 p-relative"> <i class="fa fa-3x fa-fan"></i> </div>
                <div class="tpservices__text ">
                  <h3 class="tpservices__title mb-15"><a href="../services-details.html">We’re humble servants, not divas.</a></h3>
                  <p>Collaboration and respect drive our teamwork.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="tpservices tpservices-2 tpservices-4-spacing border-0 tp-white-bg br-24 mb-30 wow tpFadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                <div class="tpservices__icon mr-20 mb-25 p-relative"> <i class="fa fa-3x fa-fan"></i> </div>
                <div class="tpservices__text ">
                  <h3 class="tpservices__title mb-15"><a href="../services-details.html">We’re curious experts, not stagnant know-it-alls.</a></h3>
                  <p>We never stop learning, improving, and pushing to do better.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="tpservices tpservices-2 tpservices-4-spacing border-0 tp-white-bg br-24 mb-30 wow tpFadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                <div class="tpservices__icon mr-20 mb-25 p-relative"> <i class="fa fa-3x fa-fan"></i> </div>
                <div class="tpservices__text ">
                  <h3 class="tpservices__title mb-15"><a href="../services-details.html">We’re results-oriented, not aimless.</a></h3>
                  <p>Every project is built with purpose and clear outcomes in mind.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="tpservices tpservices-2 tpservices-4-spacing border-0 tp-white-bg br-24 mb-30 wow tpFadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                <div class="tpservices__icon mr-20 mb-25 p-relative"> <i class="fa fa-3x fa-fan"></i> </div>
                <div class="tpservices__text ">
                  <h3 class="tpservices__title mb-15"><a href="../services-details.html">We’re client champions, not careless critics.</a></h3>
                  <p>We care about your business and show up for you, every time.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="tp-team-area pt-130 pb-90 plr-100">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="tpteam mb-60">
                <div class="tpteam__thumb br-15 wow img-custom-anim-top" data-wow-duration="1s" data-wow-delay="0.2s"> <img src="../assets/img/analyst-lael.jpg" alt=""> </div>
                <div class="tpteam__info mt-30 ml-80">
                  <h3 class="tpteam__title">Lael Miller</h3>
                  <span class="ml-45"><i></i>Senior Designer</span> </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="tpteam mb-60">
                <div class="tpteam__thumb br-15 wow img-custom-anim-top" data-wow-duration="1s" data-wow-delay="0.2s"> <img src="../assets/img/sales-preston.jpg" alt=""> </div>
                <div class="tpteam__info mt-30 ml-80">
                  <h3 class="tpteam__title">Preston Miller</h3>
                  <span class="ml-45"><i></i>Senior Designer</span> </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="tpteam mb-60">
                <div class="tpteam__thumb br-15 wow img-custom-anim-top" data-wow-duration="1s" data-wow-delay="0.2s"> <img src="../assets/img/seo-hannah.jpg" alt=""> </div>
                <div class="tpteam__info mt-30 ml-80">
                  <h3 class="tpteam__title">Hannah Landis</h3>
                  <span class="ml-45"><i></i>Senior Designer</span> </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="tpteam mb-60">
                <div class="tpteam__thumb br-15 wow img-custom-anim-top" data-wow-duration="1s" data-wow-delay="0.2s"> <img src="../assets/img/projects-katey.jpg" alt=""> </div>
                <div class="tpteam__info mt-30 ml-80">
                  <h3 class="tpteam__title">Katey Hunt</h3>
                  <span class="ml-45"><i></i>Senior Designer</span> </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="tpteam mb-60">
                <div class="tpteam__thumb br-15 wow img-custom-anim-top" data-wow-duration="1s" data-wow-delay="0.2s"> <img src="../assets/img/billing-dorothy.jpg" alt=""> </div>
                <div class="tpteam__info mt-30 ml-80">
                  <h3 class="tpteam__title">Dorothy Sommers</h3>
                  <span class="ml-45"><i></i>Senior Designer</span> </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="tpteam mb-60">
                <div class="tpteam__thumb br-15 wow img-custom-anim-top" data-wow-duration="1s" data-wow-delay="0.2s"> <img src="../assets/img/jo.jpg" alt=""> </div>
                <div class="tpteam__info mt-30 ml-80">
                  <h3 class="tpteam__title">Jolene Miller</h3>
                  <span class="ml-45"><i></i>Senior Designer</span> </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="tpteam mb-60">
                <div class="tpteam__thumb br-15 wow img-custom-anim-top" data-wow-duration="1s" data-wow-delay="0.2s"> <img src="../assets/img/designer-courtney.jpg" alt=""> </div>
                <div class="tpteam__info mt-30 ml-80">
                  <h3 class="tpteam__title">Courtney Mullet</h3>
                  <span class="ml-45"><i></i>Senior Designer</span> </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="tpteam mb-60">
                <div class="tpteam__thumb br-15 wow img-custom-anim-top" data-wow-duration="1s" data-wow-delay="0.2s"> <img src="../assets/img/chadg.jpg" alt=""> </div>
                <div class="tpteam__info mt-30 ml-80">
                  <h3 class="tpteam__title">Chad G. PropheT</h3>
                  <span class="ml-45"><i></i>Senior Content + Support</span> </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="tp-about-area tp-about-fact-right-area pt-120 pb-120 tp-cream-bg p-relative" data-background="assets/img/bg/about-5-bg.png">
        <div class="tp-about-bg"></div>
        <div class="container p-relative z-index-11">
          <div class="row">
            <div class="col-xl-5">
              <div class="tp-section-title-wrapper">
                <h2 class="tp-section-title xl-fns-45 tp-upper tp_title_anim mb-20">Why Work with the Dream Team?</h2>
              </div>
              <p class="tp_title_anim">Our vision is a web space filled with businesses that have genuine stories and real solutions for the people they serve—not overrun by copycat brands or AI-fed jargon. We’re here to help the real businesses stand tall and make their mark. </p>
              <ul>
                <li>We build websites that help businesses grow—without the guesswork.</li>
                <li>We keep it clear, simple, and focused on what matters.</li>
                <li>We’re the kind of team that answers your emails and sticks with you long after launch.</li>
                <li>We believe a website should be a tool for growth, not just a pretty design.</li>
              </ul>
                <div class="tp-price-btn mt-50"> <a href="../contact.html" class="tp-btn-orange"> <span class="tp-btn-wrap"> <span class="tp-btn-y-1">Get Started</span> <span class="tp-btn-y-2">Contact Us</span> </span> <i></i> </a> </div>
            </div>
          </div>
        </div>
        <div class="tp-about-box-right">
          <div class="tp-about-thumb-5 w-img wow img-custom-anim-top" data-wow-duration="1.5s" data-wow-delay="0.3s"> <img src="../assets/img/work-with-the-dream-team.jpg" alt=""> </div>
        </div>
      </section>
      <div class="tp-contact-form-area  pt-130 pb-130">
        <div class="container">
          <div class="row">
            <div class="col-xl-5">
              <div class="tp-section-title-wrapper mb-50 wow img-custom-anim-top" data-wow-duration="1s" data-wow-delay=".2s"> <span class="tp-section-subtitle mb-10"><i class="sub-dot-color"></i>  Get A Career That Works for You</span>
                <h2 class="tp-section-title mb-20 fs-100">Ready to Grow?</h2>
              </div>
            </div>
            <div class="col-xl-7">
              <div class="contact-form-wrapper">
                <h3 class="tpform-title mb-25">Start here: </h3>
              </div>
              <div class="contact-form-box">
                <form action="#">
                  <div class="row">
                    <div class="col-md-12 mb-30">
                      <input type="text" placeholder="Full Name*">
                    </div>
                    <div class="col-md-6 mb-30">
                      <input type="email" placeholder="Email Here*">
                    </div>
                    <div class="col-md-6 mb-30">
                      <input type="email" placeholder="subject *" >
                    </div>
                    <div class="col-md-12 mb-45">
                      <textarea name="message"  cols="30" rows="10" placeholder="write note*"></textarea>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="tp-btn"> <span class="tp-btn-wrap"> <span class="tp-btn-y-1">Send message</span> <span class="tp-btn-y-2">Send message</span> </span> <i></i> </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    
    <!-- footer start  -->
    <footer class="tp-theme-blue-5 p-relative">
      <div class="container">
        <div class="tp-footer-widget-area pt-80 pb-20">
          <div class="row">
            <div class="col-xl-5 col-lg-12">
              <h2 class="tp-section-title tp-section-title-white tp-upper mb-20">We Grow Websites for People Who Care.</h2>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="tp-footer-widget tp-footer-5-col-3 mb-50">
                <h3 class="tp-footer-widget-title mb-20"><a href="#">Navigate</a></h3>
                <div class="mb-30">
                  <ul>
                    <li><a href="../websites.html">New Websites</a></li>
                    <li><a href="../grow-plans.html">Growth Strategies</a></li>
                    <li><a href="../about.html">About Us</a></li>
                    <li><a href="../contact.html">Contact</a></li>
                    <li><a href="../careers.html">Careers</a></li>
                  </ul>
                </div>
                <div class="tp-footer-social tp-footer-social-2"> <a href="#"><i class="fab fa-instagram"></i></a> <a href="#"><i class="fab fa-facebook-f"></i></a> <a href="#"><i class="fab fa-linkedin-in"></i></a> </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="tp-footer-widget tp-footer-5-col-2 mb-50">
                <h3 class="tp-footer-widget-title mb-20">Creative Warehouse</h3>
                <div class="tp-footer-contact">
                  <div class="tp-footer-contact-item mb-20"> <span>THe Office:</span>
                    <h4><a href="https://maps.app.goo.gl/QvbJMu47XuEmLCW88">235 Factory St NE, <br>
                      Sugarcreek, OH 44681</a></h4>
                  </div>
                  <div class="tp-footer-contact-item mb-20"> <span>Email us:</span>
                    <h4><a href="mailto:hello@creativewhs.com">hello@creativewhs.com</a></h4>
                  </div>
                  <div class="tp-footer-contact-item mb-20"> <span>Call us:</span>
                    <h4><a href="tel:1(330)8522555">(330) 852-2555</a></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tp-footer-copyright-area pt-40 pb-10">
          <div class="row text-center">
            <div class="col-12">
              <div class="tp-footer-copyright mb-30 text-md-center text-lg-start">
                <p>Copyright © 2025 Creative Warehouse | All rights reserved </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end  --> 
    
  </div>
</div>
<script src="../assets/js/jquery-3.7.1.min.js"></script> 
<script src="../assets/js/bootstrap.bundle.min.js"></script> 
<script src="../assets/js/gsap.js"></script> 
<script src="../assets/js/scroll-to-plugin.js"></script> 
<script src="../assets/js/scroll-trigger.js"></script> 
<script src="../assets/js/scroll-smoother.js"></script> 
<script src="../assets/js/split-text.js"></script> 
<script src="../assets/js/isotope.pkgd.min.js"></script> 
<script src="../assets/js/jquery.magnific-popup.min.js"></script> 
<script src="../assets/js/swiper-bundle.min.js"></script> 
<script src="../assets/js/jarallax.min.js"></script> 
<script src="../assets/js/nice-select.js"></script> 
<script src="../assets/js/wow.js"></script> 
<script src="../assets/js/main.js"></script>
</body>
</html>