<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creative Warehouse | Ohio Marketing Agency</title>

    <link rel="icon" type="image/x-icon" href="../assets/img/logo/favicon.png">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/aea945e168.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/flaticon-exdos.css">
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/courtneys-styles.css">
</head>
<body>
    
    <!-- scroll to top  -->
    <button id="back-to-top"><i class="far fa-arrow-up"></i></button>

    <!-- header start  -->
    <header>
        <div id="tp-header-sticky" class="tp-header-area tp-header-space tp-header-space-4 tp-transparent-header pl-100 pr-100 tp-header-border tp-sticky-white">
            <div class="container-fluid p-0">
                <div class="row gx-0 align-items-center">
                    <div class="col-xl-2 col-lg-5 col-md-4 col-6">
                        <div class="tp-logo">
                            <a href="index.html"><img src="../assets/img/creative-warehouse-logo.png" alt="Creative Warehouse logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-7 col-md-8 col-6">
                        <div class="tp-header-box pl-25 d-flex justify-content-end">
                            <div class="tp-main-menu tp-main-menu-black d-none d-xl-block">
                                <nav class="tp-mobile-menu-active">
                                    <ul>
                                        <li><a href="../new-website.html">Get a New Website</a></li>
                                        <li><a href="../growth-plans-1.html">Growth Strategies</a></li>
                                        <li><a href="../about-1.html">Who We Are</a></li>
                                        <li><a href="../contact-1.html" class="btn btn-cta">Grow My Website</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="tp-header-right tp-header-right-black d-flex justify-content-end flex-wrap align-items-center">
                                <div class="tp-header-bar d-xl-none">
                                    <button class="tp-offcanvas-toogle"><i class="flaticon-menu"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end  -->

    <!-- tp header search  -->
    <div class="tp-header-search-bar d-flex align-items-center">
        <button class="tp-search-close">×</button>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="tp-search-bar text-center">
                        <h2 class="tp-search-bar-title mb-30">What are you looking for?</h2>
                        <div class="contact-form-box contact-search-form-box">
                            <form action="#">
                                <input type="text" placeholder="Search Here">
                                <button type="submit"><i class="far fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tp-offcanvas">
        <div class="tp-offcanvas-wrapper">
            <div class="tp-offcanvas-header d-flex justify-content-between align-items-center mb-90">
                <div class="tp-offcanvas-logo">
                    <a href="index.html"><img src="../assets/img/logo/logo-black.png" alt=""></a>
                </div>
                <div class="tp-offcanvas-close">
                    <button class="tp-offcanvas-close-toggle"><i class="fal fa-times"></i></button>
                </div>
            </div>
            <div class="tp-offcanvas-menu d-xl-none mb-50">
                <nav></nav>
            </div>
            <div class="tp-offcanvas-content mb-50 d-none d-xl-block">
                <h2 class="tp-offcanvas-title">Hello There!</h2>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. </p>
            </div>
            <div class="tp-offcanvas-gallery mb-50">
                <a class="popup-image" href="../assets/img/project/showcase-thumb-01.jpg"><img src="../assets/img/project/showcase-thumb-01.jpg" alt=""></a>
                <a class="popup-image" href="../assets/img/project/showcase-thumb-02.jpg"><img src="../assets/img/project/showcase-thumb-02.jpg" alt=""></a>
                <a class="popup-image" href="../assets/img/project/showcase-thumb-03.jpg"><img src="../assets/img/project/showcase-thumb-03.jpg" alt=""></a>
                <a class="popup-image" href="../assets/img/project/showcase-thumb-04.jpg"><img src="../assets/img/project/showcase-thumb-04.jpg" alt=""></a>
            </div>
            <div class="tp-offcanvas-info mb-50">
                <h3 class="tp-offcanvas-sm-title">Information</h3>
                <span><a href="tel:01234567">+ 4 20 7700 1007</a></span>
                <span><a href="mailto:hello@exdos.com">hello@exdos.com</a></span>
                <span><a target="_blank" href="https://www.google.com/maps/">Avenue de Roma 158b, Lisboa</a></span>
            </div>
            <div class="tp-offcanvas-social mb-50">
                <h3 class="tp-offcanvas-sm-title">Follow Us</h3>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="tp-offcanvas-overlay"></div>

    <div id="smooth-wrapper">
        <div id="smooth-content">

            <main>
                <!-- tp-hero-area start -->
<section class="hero tp-hero-area tp-hero-space p-relative padding-wide">
                    
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-lg-8">
                                <div class="hero-content tp-hero-wrapper tp-hero-wrapper-4">
                                    <div class="tp-hero tp-hero-black p-relative z-index-11">
                                        <div class="mb-15 wow img-custom-anim-left" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                            <h1>Websites That Deliver <span>for Brands That Care</span></h1>
                                        </div>
                                        <p class="wow img-custom-anim-top" data-wow-duration="1.5s" data-wow-delay="0.4s">Life you under itself greater. Land the fill make so land waters
                                            fly beast and stars don't void first creature midst itself let said
                                            fowl man divide which called. Open.</p>
                                        <div class="hero-btns wow img-custom-anim-top" data-wow-duration="1.5s" data-wow-delay="0.6s">
                                            <a href="about.html" class="btn btn-cta">Start Your Project</a>
                                            <a href="about.html" class="btn btn-secondary">View Packages</a>
                                        </div>    
                                    </div>
                                </div>
                            </div>
							<div class="col-xl-6">
							<div class="hero-image wow img-custom-anim-right" data-wow-duration="1.5s" data-wow-delay="0.7s"></div>
							</div>
                        </div>
                    </div>
                </section>				
				
				
				
                <section class="hero tp-hero-area tp-hero-space pt-240 pb-140 p-relative">
                    <div class="tp-hero-shape">
                        <div class="hero-circle-shape position-absolute"></div>
                        <div class="tp-el-shape position-absolute text-end wow img-custom-anim-right" data-wow-duration="1.5s" data-wow-delay="0.7s">
                            <img src="../assets/img/hero/helo-el.png" alt="">
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-8">
                                <div class="tp-hero-wrapper tp-hero-wrapper-4">
                                    <div class="tp-hero tp-hero-black p-relative z-index-11">
                                        <div class="mb-15 wow img-custom-anim-left" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                            <h1>Websites That Deliver <span>for Brands That Care</span></h1>
                                        </div>
                                        <p class="wow img-custom-anim-top" data-wow-duration="1.5s" data-wow-delay="0.4s">Life you under itself greater. Land the fill make so land waters
                                            fly beast and stars don't void first creature midst itself let said
                                            fowl man divide which called. Open.</p>
                                        <div class="hero-btns wow img-custom-anim-top" data-wow-duration="1.5s" data-wow-delay="0.6s">
                                            <a href="about.html" class="btn btn-cta">Start Your Project</a>
                                            <a href="about.html" class="btn btn-secondary">View Packages</a>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- tp-hero-area end -->

                <section class="img-text">
                <div class="container">
                    <div class="row align-items-center">
                    <div class="col-lg-6"> <img src="../assets/img/team-2.jpg" alt=""> </div>
                    <div class="col-lg-6">
                        <div class="text-pad-left">
                        <h2>We Know the Website Struggle — Let’s Make It Simple</h2>
                        <p>Most small business owners feel like they’re either overpaying for a fancy website that doesn’t deliver—or stuck with a cheap site that’s more headache than help. You deserve a website that works as hard as you do. That’s where we come in.</p>
                        <h4>We Grow Websites for People Who Care</h4>
                        <p>At Creative Warehouse, we help small business owners who care deeply about their craft and the people they serve. You’re here to do good work and serve your customers well. We’re here to make sure your website helps you do just that—without the hassle, the headaches, or the guesswork.</p>
                      </div>
                      </div>
                  </div>
                  </div>
              </section>         

                <section class="plan padding-wide">
                <div class="container-fluid">
					<div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2"> 
						<img src="../assets/img/faq/desk.png" alt="">
					</div>
                    <div class="col-lg-6 order-lg-1">
						<div class="text-pad-wide">
					<span class="subtitle">A Clear, No-Nonsense Plan</span>
					<h2>How We Get You There</h2>
						<p>No fluff, no jargon—just three steps to a website that works:</p>
						<div class="step mt-30">
						<div><div class="number">1</div></div>
							<div class="step-content">
								<h3>Get a New Website or Migrate Your Existing Site</h3>
							<p>We build from scratch or bring over what you already have—no headaches, no lost progress.</p>
							</div>
						</div>
						<div class="step">
						<div><div class="number">2</div></div>
							<div class="step-content">
								<h3>We Learn About Your Business Goals</h3>
							<p>We take the time to understand what matters most to you and your customers.</p>
							</div>
						</div>
						<div class="step">
						<div><div class="number">3</div></div>
							<div class="step-content">
								<h3>We Create a Growth Plan That Fits Your Needs</h3>
							<p>No cookie-cutter solutions—just a simple, honest path forward that helps you grow.</p>
							</div>
						</div>
						</div>
					</div>
					</div>
                  </div>
              </section>
				
<section class="services">
                <div class="container">
                    <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-content"> <span class="subtitle">The Tools in the Toolbox</span>
                        <h2>Our Services</h2>
                      </div>
                      </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service"> <img src="../assets/img/services/icon-01.png" alt="">
                        <div class="service-content">
                            <h3>Websites That Grow With You</h3>
                            <p>We build your site based on what you actually need—no guessing, no upselling. Every project starts with a conversation about your business goals. From there, we recommend the right approach to support your growth:</p>
                          </div>
                      </div>
                      </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service"> <img src="../assets/img/services/icon-01.png" alt="">
                        <div class="service-content">
                            <h3>Visual Identity Design</h3>
                            <p>For businesses that need a stronger, more distinct look—we create a visual identity that builds trust and helps you stand out.</p>
                          </div>
                      </div>
                      </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service"> <img src="../assets/img/services/icon-01.png" alt="">
                        <div class="service-content">
                            <h3>E-Commerce</h3>
                            <p></p>
                          </div>
                      </div>
                      </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service"> <img src="../assets/img/services/icon-01.png" alt="">
                        <div class="service-content">
                            <h3></h3>
                            <p></p>
                          </div>
                      </div>
                      </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service"> <img src="../assets/img/services/icon-01.png" alt="">
                        <div class="service-content">
                            <h3></h3>
                            <p></p>
                          </div>
                      </div>
                      </div>
                  </div>
                  </div>
              </section>				
				
	
<section class="tp-services-area tp-services-bg-area pt-130 pb-95" >
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-5">
              <div class="tp-section-title-wrapper mb-50"> <span class="tp-section-subtitle mb-10"><i class="sub-dot-color"></i> Our services</span>
                <h2 class="tp-section-title tp-upper tp_title_anim mb-20">How we help you grow</h2>
                <p>Whether you need a brand-new website or want to improve the one you’ve already got, we’ve got the right tools. Our services range from custom design and e-commerce to ongoing growth plans with SEO, content strategy, ads, and more—all tailored to what your business actually needs.</p>
              </div>
            </div>
            <div class="offset-xl-1 col-xl-3 col-lg-4 col-md-6">
              <div class="tpservices tpservices-2 tpservices-4-spacing border-0 tp-white-bg br-24 mb-30 wow tpFadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="tpservices__icon mr-20 mb-25 p-relative"> <img src="../assets/img/services/icon-01.png" alt=""> </div>
                <div class="tpservices__text">
                  <h3 class="tpservices__title mb-15"><a href="services-details.html">Website Design</a></h3>
                  <p>We build your site based on what you actually need—no guessing, no upselling.
                    Every project starts with a conversation about your business goals. </p>
                  <div class="tpservices__icon_btn"> <a href="services-details.html"><i class="flaticon-next-button"></i></a> </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="tpservices tpservices-2 tpservices-4-spacing border-0 tp-white-bg br-24 mb-30 wow tpFadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                <div class="tpservices__icon mr-20 mb-25 p-relative"> <img src="../assets/img/services/icon-02.png" alt=""> </div>
                <div class="tpservices__text ">
                  <h3 class="tpservices__title mb-15"><a href="services-details.html">Growth Strategies</a></h3>
                  <p>Our Growth Plans keep your site current, competitive, and performing well—month after month.</p>
                  <div class="tpservices__icon_btn"> <a href="services-details.html"><i class="flaticon-next-button"></i></a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>				
				
<section class="join-us">
				<div class="container-fluid">
	<div class="row align-items-center">
					<div class="col-lg-6">
		<img src="../assets/img/team-1.jpg" alt="" class="join-img-1">
		<img src="../assets/img/team-2.jpg" alt="" class="join-img-2">
		<img src="../assets/img/team-3.jpg" alt="" class="join-img-3">
		</div>
		<div class="col-lg-5">
			<div class="text-pad-join">
			<span class="subtitle">Careers</span>
		<h2>Join Our Team!</h2>
			<p>At Creative Warehouse, we don’t just build websites — we’re building a community of curious minds and creative problem-solvers who love learning, collaboration, and doing good work for businesses in our community.</p>
				<a href="../careers.html" class="btn btn-secondary">Join Our Team</a>
		</div></div>
		
					</div>
	</div>
				</section>
			
	<section class="img-text">
                <div class="container">
                    <div class="row align-items-center">
                    <div class="col-lg-6 about"> <img src="../assets/img/team-2.jpg" alt=""> 
						<div class="about-box">
						<span>Since</span>
							<h3>2012</h3>
						</div>
						</div>
                    <div class="col-lg-6">
                        <div class="text-pad-left">
                        <h2>We Want to See You Grow</h2>
                        <p>We started Creative Warehouse because we were tired of seeing small businesses burned by agencies that overpromise, underdeliver, or overcomplicate. We’re here to change that. We build websites that work for you, not against you.</p>
							<p>We amplify the work of good businesses. When your message is clear, your design connects, and your website performs, you create more jobs, serve more people, and contribute to human flourishing.</p>
                        <h4 class="mt-5">Our Mission:</h4>
							<ul class="mission-list">
							<li><i class="bi bi-brush-fill"></i> Thoughtful Design</li>
							<li><i class="bi bi-chat-square-text-fill"></i> Clear Messaging</li>
							<li><i class="bi bi-lightbulb-fill"></i> Smart Strategy</li>
							</ul>
                      </div>
                      </div>
                  </div>
                  </div>
              </section>			
				
<section class="start">
                <div class="overlay"></div>
                <div class="container">
          <div class="row">
                    <div class="col-lg-12 text-center">
              <div class="start-content">
                        <h2>Ready to Build a Website That Works for You?</h2>
                        <p>Let’s make it happen.</p>
                        <a href="../contact-1.html" class="btn btn-cta">Start Your Project</a> </div>
            </div>
                  </div>
        </div>
              </section>

            </main>

<footer>
      <div class="container">
        <div class="tp-footer-widget-area pt-80 pb-20">
          <div class="row">
            <div class="col-xl-5 col-lg-12">
              <h2>We Grow Websites for People Who Care.</h2>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="tp-footer-widget tp-footer-5-col-3 mb-50">
                <h3 class="tp-footer-widget-title mb-20"><a href="#">Navigate</a></h3>
                <div class="mb-30">
                  <ul>
                    <li><a href="../websites.html">New Websites</a></li>
                    <li><a href="../grow-plans.html">Growth Strategies</a></li>
                    <li><a href="../about.html">About Us</a></li>
                    <li><a href="../contact.html">Contact</a></li>
                    <li><a href="../careers.html">Careers</a></li>
                  </ul>
                </div>
                <div class="tp-footer-social tp-footer-social-2"> <a href="#"><i class="fab fa-instagram"></i></a> <a href="#"><i class="fab fa-facebook-f"></i></a> <a href="#"><i class="fab fa-linkedin-in"></i></a> </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="tp-footer-widget tp-footer-5-col-2 mb-50">
                <h3 class="tp-footer-widget-title mb-20">Creative Warehouse</h3>
                <div class="tp-footer-contact">
                  <div class="tp-footer-contact-item mb-20"> <span>THe Office:</span>
                    <h4><a href="https://maps.app.goo.gl/QvbJMu47XuEmLCW88">235 Factory St NE, <br>
                      Sugarcreek, OH 44681</a></h4>
                  </div>
                  <div class="tp-footer-contact-item mb-20"> <span>Email us:</span>
                    <h4><a href="mailto:hello@creativewhs.com">hello@creativewhs.com</a></h4>
                  </div>
                  <div class="tp-footer-contact-item mb-20"> <span>Call us:</span>
                    <h4><a href="tel:1(330)8522555">(330) 852-2555</a></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tp-footer-copyright-area pt-40 pb-10">
          <div class="row text-center">
            <div class="col-12">
              <div class="tp-footer-copyright mb-30 text-md-center text-lg-start">
                <p>Copyright © 2025 Creative Warehouse | All rights reserved </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
            
        </div>
    </div>


    <script src="../assets/js/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/gsap.js"></script>
    <script src="../assets/js/scroll-to-plugin.js"></script>
    <script src="../assets/js/scroll-trigger.js"></script>
    <script src="../assets/js/scroll-smoother.js"></script>
    <script src="../assets/js/split-text.js"></script>
    <script src="../assets/js/isotope.pkgd.min.js"></script>
    <script src="../assets/js/jquery.magnific-popup.min.js"></script>
    <script src="../assets/js/swiper-bundle.min.js"></script>
    <script src="../assets/js/nice-select.js"></script>
    <script src="../assets/js/wow.js"></script>
    <script src="../assets/js/main.js"></script>
</body>
</html>